body{ 
    box-sizing: border-box;
    margin: 0;
    padding-top: 40px; 
    background-image: url('../images/bg.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
}
.row{
    display: block;
    width: 100%;
}

#header{
    background: #07798f;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
}

#dropdown-menu{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 90px;
    vertical-align: middle;
    color: white;
    background: #07798f;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.dropdown-content{
    cursor: pointer;
    display: none;
    background:#07798f;
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li{
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
}

#dropdown-menu li:hover{ 
    background:#07798f;
}

.dropdown-content.menu-rtl{
    float: right;
}

.dropdown-content a{
    color: white;
    text-decoration: none;
}



/* footer {
    background-color: #07798f;
    text-align: center;
    padding: 10px;
    color: white;
    
} */

#middle-bubble {
    background-color: #07798f;
    margin: 100px auto;
    width: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 40px); 
    position: relative;
}

#profile-image {
    width: 150px; 
    border-radius: 50%;
    background-color: white;
    top: -80px;
    position: absolute;
}

#middle-bubble p{
    padding: 30px;
}

#name{
    position:absolute;
    top: 70px;
}


#content {
    background-color: white;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}